<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pokedex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://binario-djangob.s3-sa-east-1.amazonaws.com/style.css" rel="stylesheet">
        <link href="https://binario-djangob.s3-sa-east-1.amazonaws.com/pokedex.css" rel="stylesheet">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
<script>
    function previous(id) {
        document.pokemonIdSend.pokemonId.value = id;
        document.pokemonIdSend.submit();
    }

    function next(id) {
        document.pokemonIdSend.pokemonId.value = id;
        document.pokemonIdSend.submit();
    }

    function pokemonKeyId() {
        let pokemonId = document.pokemonKeySend.pokemonId
        pokemonId.value = (pokemonId.value <= 1) ? 1 : pokemonId.value;
        pokemonId.value = (pokemonId.value >= 898) ? 898 : pokemonId.value;
        document.pokemonKeySend.submit();
    }
</script>